%div
  %h1
    GitLab
    社区版
    - if user_signed_in?
      %span= Gitlab::VERSION
      %small= Gitlab::REVISION
      = version_status_badge
  %p.slead
    GitLab是用于代码托管的开源软件.
    %br
    通过细粒度的访问控制来管理仓库，保证你的代码安全.
    %br
    通过合并请求来进行代码评审和加强协作.
    %br
    每个项目也可以添加工单和Wiki.
    %br
    超过100,000组织使用GitLab，GitLab是Git托管最受欢迎的解决方案.
    %br
    了解 Gitlab 更多内容请访问 #{link_to promo_host, promo_url, target: '_blank'}.
    - if current_application_settings.help_page_text.present?
      %hr
      = markdown(current_application_settings.help_page_text)

%hr

.row
  .col-md-8
    .documentation-index
      = preserve do
        = markdown(@help_index)
  .col-md-4
    .panel.panel-default
      .panel-heading
        用户帮助文档
      %ul.well-list
        %li= link_to 'See our website for getting help', promo_url + '/getting-help/'
        %li= link_to 'Use the search bar on the top of this page', '#', onclick: 'Shortcuts.focusSearch(event)'
        %li= link_to 'Use shortcuts', '#', onclick: 'Shortcuts.toggleHelp()'
        %li= link_to 'Get a support subscription', 'https://about.gitlab.com/pricing/'
        %li= link_to 'Compare GitLab editions', 'https://about.gitlab.com/features/#compare'
